@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

#profile_about_gyoza .small.text-muted{
    margin-top: -5px;
}
#profile_about_gyoza a{
    margin-left: 0px;
}

#social-platforms {
    margin-top: 50px;
}
#social-platforms .twitter-share-button{
    margin: -7px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#index_btn .btn-hover {
    width: 150px;
    font-size: 16px;
    padding: 15px 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 30px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#index_btn .btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#index_btn .btn-hover:focus {
    outline: none;
}
#index_btn .btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

#button_post_detail .btn {
    width: 120px;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 30px;
}

.default-preview-img {
    max-width: 100%;
    height: auto;
}
/* カードのスタイル */
#detail_of_article .card .card-body a {
    position: relative;
    display: inline-block;
    padding: 17px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

#detail_of_article .card .card-body .btn {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* カテゴリ一覧の表示ボタン */
#category_list {
    position: relative;
    display: inline-block;
    padding: 17px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;

    width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.button-end .btn.btn-outline-success {
    width: 250px;
    font-size: 16px;
    font-weight: 600;
}


        
         
.jumbotron {
    background-image: url("World Hacker-logo_.jpg");
    background-size: 100% auto;

    background-position: center 55%;
    background-repeat: no-repeat;
    height: 500px;
}

.caution_contents p {
    color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

.cover-text {
    position: absolute;
    padding: 50px;
    font-size: 100px;
    color: violet;
    z-index: 1; /* ADD */
}

#carouselIndicators {
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* テーブル表示のデザイン*/
table {
    line-height: 1.25;
    width: 650px;
    border: none;
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    border-collapse: collapse;
    border-spacing: 0 10px;
    background: #f5f5f5;
}
table tr {
    background-color: #fff;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tbody tr:hover {
    background-color: #fffae9;
}
table th,
table td {
    padding: 0.35em 1em;
    border-bottom: 1px solid #eee;
}
table thead th {
    text-align: center;
    font-size: 0.85em;
    padding: 1em;
}
table thead tr {
    background-color: #6253e1;
    color: #fff;
}
table tbody th {
    text-align: left;
    font-size: 0.8em;
}
.title {
    text-align: left;
    font-size: 0.75em;
    font-weight: bold;
}
.content {
    text-align: left;
    color: #000;
}
.date {
    text-align: left;
    color: #000;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
        width: 100%;
    }
    table th {
        background-color: #6253e1;
        display: block;
        border-right: pink;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        margin-bottom: 0.625em;
        border: 1px solid #6253e1;
    }
    table td {
        border-bottom: 1px dotted #bbb;
        display: block;
        font-size: 0.8em;
        text-align: right;
        position: relative;
        padding: 1.5em 1em 1.5em 4em;
        border-right: none;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
        color: #000;
    }
    table td:last-child {
        border-bottom: 0;
    }
    table tbody th {
        color: #fff;
        padding: 1em;
    }
    table tr:nth-child(even) {
        background-color: #fff;
    }
}

.list_footer {
    padding-left: 0;
}
.list_footer li {
    list-style-type: none;
}
