* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* カードのスタイル */
.card .card-body a{
    position: relative;
    display: inline-block;
    padding: 17px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.card .card-body .btn {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* カテゴリ一覧の表示ボタン */
#category_list {
    position: relative;
    display: inline-block;
    padding: 17px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button-end .btn {
    width: 250px;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn:focus {
    outline: none;
}
.btn.btn-secondary {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.jumbotron {
    background-image: url("World Hacker-logo_.jpg");
    background-size: 100% auto;

    background-position: center 55%;
    background-repeat: no-repeat;
    height: 500px;
}

.caution_contents p {
    color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

.cover-text {
    position: absolute;
    padding: 50px;
    font-size: 100px;
    color: violet;
    z-index: 1; /* ADD */
}

#carouselIndicators {
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 20px;
}

