.jumbotron {
    background-image: url("World Hacker-logo_.jpg");
    background-size:  100% auto;
    
    background-position: center 55%;
    background-repeat: no-repeat;
    height: 500px;
}


  