{% extends 'myapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <br>
        <h2>{{ object.name }}</h2>
        <hr>
        <br>
        <li class = "list-group list-group-numbered">
            {% for item in category_posts %}
            <li class= "list-group-item list-group-item-action"><a href="{% url 'myapp:post_detail' item.id %}" style="border-bottom: solid 1px blue;">{{ item.title }}</a></li>
                
            {% endfor %}
        </li>
        
        <br>
        <br>
        
    </div>
</div>


{% endblock %}