{% extends 'myapp/base.html' %}
{% block title %}お問い合わせ - {{ block.super }}{% endblock %}
{% block content %}
<div class="ui grid stackable">
    <div class="eleven wide column">
        <div class="ui breadcrumb">
            <a href="{% url 'myapp:index' %}" class="section">ホーム</a>
            <span class="divider">　▶　</span>
            <a class="active section">お問い合わせ</a>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-md-8">
                <h1>お問い合わせ</h1>

                <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary rounded-pill">送信</button>
                </form>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}