{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<!-- Start your project here-->
<!--
<div class="cover-text">
    <h2 class="display-4">{{ request.site.siteconfig.top_title }}</h2>
  <p class="lead">{{ request.site.siteconfig.top_subtitle }}</p>
</div>
-->

<!-- Carousel wrapper -->
<div id="carouselIndicators" class="carousel slide carousel-dark shadow " data-ride="carousel" data-interval="7000"
    data-pause="hover">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'World Hacker-logo_.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'hakone_ashinoko.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'comingsoon-.png' %}" class="d-block w-100" alt="...">
        </div>
    </div>
    <!-- 上記のid値とdata-targetは一致してないといけない -->
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <!-- 上記のid値とhrefは一致してないといけない -->
    <a href="#carouselIndicators" class="carousel-control-prev" data-slide="prev">
        <span><i style="font-size: 5vh; color: lightgray;" class="fas fa-caret-left" aria-hidden="true"></i></span>
        <span class="sr-only" style="font-size: 60px; color: gray;">前の画像へ</span>
    </a>
    <a href="#carouselIndicators" class="carousel-control-next" data-slide="next">
        <span><i style="font-size: 5vh; color: lightgray;" class="fas fa-caret-right" aria-hidden="true"></i></span>
        <span class="sr-only" style="font-size: 60px; color: gray;">次の画像へ</span>
    </a>
</div>
<!-- Carousel wrapper -->

<div class='row'>
    <!-- Card deck -->
    <div class="card-deck">

        {% for item in post_list %}
        <div class='col-md-4'>
            <!-- Card -->
            <div class="card mb-4" data-tilt>

                <!--Card image-->
                <div class="view overlay">
                    {% if item.thumbnail %}
                    <img class="card-img-top" src="{{ item.thumbnail.url | default_if_none:'#' }}"
                        alt="{{ item.title }}" />
                    {% else %}
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/46.jpg"
                        alt="{{ item.title }}" />
                    {% endif %}
                    <a href="{% url 'myapp:post_detail' item.id %}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body" id = "index_btn">

                    <!--Title-->
                    <h4 class="card-title">{{ item.title }}</h4>

                    <!--Category-->
                    <p>{{ item.category }}</p>

                    <!--Text-->
                    <p class="card-text">{{ item.content | safe | truncatechars_html:30 }}</p>

                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <a href="{% url 'myapp:post_detail' item.id %}" type="button"
                        class="btn-hover color-7">続きを読む</a>
                    <br>
                    <div style="text-align: right">
                        <i class="fas fa-heart" style=" color:palevioletred;"></i>&nbsp;{{ item.like_count }}
                    </div>
                </div>

                <!-- Card footer -->
                <div class="card-footer text-muted text-center mt-4">by <small>{{ item.author }}</small>
                    at <small>{{ item.created_at }}</small>
                </div>

            </div>
            <script type="text/javascript" src="{% static 'js/vanilla-tilt.js' %}">
            </script>
            <script type="text/javascript">
                VanillaTilt.init(document.querySelectorAll(".card"), {
                    max: 40,
                    speed: 200,
                    glare: true,
                    "max_glare": 0.5,
                    gyroscope: true,
                });
            </script>
            <!-- Card -->
        </div>
        {% endfor %}
    </div>


    <!-- Card deck -->

    <div class="button-end">
        <a type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark"
            href="{% url 'myapp:post_list' %}">すべての記事を見る</a>
    </div>
</div>
<br>

<!-- Jumbotron -->
{% endblock %}