{% extends 'myapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <h2>投稿一覧</h2>
        <br>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">タイトル</th>
                    <th scope="col">内容</th>
                    <th scope="col">作成日時<br>更新日時</th>
                </tr>
            </thead>
            <tbody>
                {% for item in post_list %}
                <tr>
                    <td class="title"><a href="{% url 'myapp:post_detail' item.pk %}" style="border-bottom: solid 1px black;">{{ item.title }}</a></td>
                    <td class="content">{{ item.content | linebreaksbr | safe | truncatechars_html:30  }}</td>
                    <td class="date">{{ item.created_at }}
                        <br>
                        {{ item.updated_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% include 'myapp/pagination.html' %}
        <br>
    </div>
</div>


{% endblock %}