{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <!-- Card -->
        <div class="card" id="detail_of_article">

            <!-- Card image -->
            {% if object.thumbnail %}
            <img src="{{ object.thumbnail.url | default_if_none:'#'  }}" class="card-img-top" alt="{{ object.title }}">
            {% else %}
            <img class="card-img-top" src="{% static 'web_image_null.jpg' %}"
                        alt="{{ object.title }}"/>
            {% endif %}
            <!-- Card content -->
            <div class="card-body" id="button_post_detail">

                <!-- Title -->
                <h5 class="card-title">{{ object.title }}</h5>

                <!-- category -->
                <h6 class="card-title">{{ object.category }}</h6>

                <!-- text -->
                <p class="card-text">
                    {{ object.content | safe | linebreaksbr | urlize}}
                </p>
                
                {% include 'myapp/sns_button_for_top.html' %}

                <div style="text-align: right">
                    <i class="fas fa-heart" style=" color:palevioletred;"></i>&nbsp;{{ object.like_count }}
                </div> 
                <!-- Button-->
                {% if request.user.is_active %} 
                <a class="btn rounded-pill" href="{% url 'myapp:like_add' object.pk %}"
                    style="background-color:#FF6699; color:white;">お気に入り</a>
                {% endif %}               
                <hr>
                <a href= "javascript:void(0); " onclick= "window.history.back(); " class = "btn btn-outline-dark">戻る</a>
                {% if object.author == request.user %} 
                <a href="{% url 'myapp:post_update' object.pk %}" class="btn btn-primary rounded-pill">更新</a>
                <a href="{% url 'myapp:post_delete' object.pk %}" class="btn btn-danger rounded-pill">削除</a>
                {% endif %}

                <!-- だけし追加 -->
                <a href="{% url 'myapp:index' %}" class="btn btn-light rounded-pill" style="color:black">トップへ</a>

            </div>
            <!-- Card footer -->
            <div class="card-footer text-muted text-center mt-4">by <small>{{ object.author }}</small>
                at <small>{{ object.created_at }}</small>
                
            </div>

        </div>
        <!-- Card -->
        <br>
    </div>
    <div class="col-md-3">
        <br>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ object.category }}</h5>
                <p>このカテゴリの他の記事</p>
            </div>
            <ul class="list-group">
                {% for item in category_posts %}
                <li class="list-group-item"><a href="{% url 'myapp:post_detail' item.id%}">{{ item.title}}</a></li>
                {% endfor %}
            </ul>
            <br>
        </div>
    </div>
</div>

{% endblock %}