<div id="social-platforms">

    <div rel="nofollow" target="_blank" class="fb-like"
        data-href="{{ request.scheme }}://{{ request.get_host }}{% url 'myapp:post_detail' object.pk %}" data-width=""
        data-layout="button_count" data-action="like" data-size="large" data-share="true">
    </div>

    <a rel="nofollow" target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ object.title }} - ぎょうざブログ" data-size="large">
        Tweet</a>
    
    <a data-pin-do="buttonBookmark" data-pin-tall="true" target="_blank" rel="nofollow"
        href="https://www.pinterest.com/pin/create/button/?url={{ request.scheme }}://{{ request.get_host }}{% url 'myapp:post_detail' object.pk %}&media={{ request.scheme }}://{{ request.get_host }}{{ object.thumbnail.url }}&description={{ object.title }} - ぎょうざブログ">
    </a>

    
</div>